[submodule "bin/fzf"]
	path = bin/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "vimfiles/bundle/surround"]
	path = vimfiles/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vimfiles/bundle/repeat"]
	path = vimfiles/bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vimfiles/bundle/editorconfig"]
	path = vimfiles/bundle/editorconfig
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "vimfiles/bundle/polyglot"]
	path = vimfiles/bundle/polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule "vimfiles/bundle/lightline"]
	path = vimfiles/bundle/lightline
	url = https://github.com/itchyny/lightline.vim
[submodule "vimfiles/bundle/fzf"]
	path = vimfiles/bundle/fzf
	url = https://github.com/junegunn/fzf.vim.git
[submodule "vimfiles/bundle/nerdtree"]
	path = vimfiles/bundle/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "vimfiles/bundle/ale"]
	path = vimfiles/bundle/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "notes/vimfiles/auto-pairs"]
	path = notes/vimfiles/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule "vimfiles/auto-pairs"]
	path = vimfiles/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule "vimfiles/bundle/coc-nvim"]
	path = vimfiles/bundle/coc-nvim
	url = https://github.com/neoclide/coc.nvim.git
[submodule "vimfiles/bundle/snippets"]
	path = vimfiles/bundle/snippets
	url = https://github.com/honza/vim-snippets.git
